@charset "utf-8";
<!-- Kiara Arapi 
10/27/2025 -->
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Case Problem 1
   
   Save your Fork Graphic Design Styles
   Author: 
   Date:   

   Filename: sf_effects.css

*/

/* Body Header Styles */
body {
  box-shadow: 10px 0 50px rgb(51, 51, 51), -10px 0 50px rgb(51, 51, 51);
}



/* Navigation Tabs List Styles */
body > header nav.tabs {
  background-image: url("sf_back1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body > header nav.tabs li {
  perspective: 50px;
  transform: rotateX(20deg);
}
body > header nav.tabs li:hover {
  background-color: rgb(231, 231, 231);
}

/* Left Section Styles */

section#left nav.vertical {
  border: 1px solid rgb(20, 167, 170);
  border-radius: 25px;
}
section#left nav.vertical h1 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* Center Article Styles */
section#center article {
  /* Background radial gradient */
  background: radial-gradient(circle, white 30%, rgb(151, 151, 151));

  /* Border with radius */
  border: 1px solid rgb(151, 151, 151);
  border-radius: 50px;

  /* Box shadow */
  box-shadow: 10px 10px 20px rgb(51, 51, 51);
}



/* Blockquote Styles */
blockquote {
  /* Background image settings */
  background-image: url("sf_speech.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* Drop shadow filter */
  filter: drop-shadow(5px 5px 10px rgb(51, 51, 51));
}
cite img {
  border-radius: 50%;
}
